@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-poppins  overflow-x-hidden;
  }
  img {
    @apply h-full w-full object-cover;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins text-base leading-[120%];
  }
  h1 {
    @apply text-3xl xl:text-4xl font-bold;
  }
  h2 {
    @apply text-3xl xl:text-4xl text-[#161616]  font-semibold  tracking-[0.44px];
  }
  h3 {
    @apply text-2xl xl:text-xl text-[#161616]  font-medium;
  }
  h4 {
    @apply text-base xl:text-lg text-[#313030] font-medium;
  }
  h5 {
    @apply text-base  font-medium;
  }

  small {
    @apply text-gray-600;
  }
}

@layer components {
  .ptb {
    @apply py-14 md:py-16;
  }
  .primary-btn {
    @apply bg-primary py-3 px-4 rounded-lg hover:bg-primaryLight text-center shadow;
  }
  .badge {
    @apply bg-primary text-center rounded-md px-3 py-1;
  }
  .text-with-lines {
    @apply flex items-center text-center after:content-[''] after:flex-1 after:h-[2px] after:bg-gray-300 after:ml-2 before:content-[''] before:flex-1 before:h-[2px] before:bg-gray-300 before:mr-2;
  }
  /* Swiper */
  .slider-thumbnail .swiper-slide-thumb-active {
    @apply border-2 border-gray-900;
  }
  .swiper-button-next,
  .swiper-button-prev {
    @apply w-10 h-10 bg-white rounded-full !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    @apply text-lg p-3 text-gray-950 !important;
  }
  /* accordion */
  .accordion-header {
    @apply p-4 cursor-pointer m-0 relative after:content-[''] after:absolute after:right-4  after:top-1/2 after:transition-all after:duration-300 after:block after:w-2 after:h-2 after:border-r-gray-700 after:border-t-gray-700 after:border-t-2 after:border-r-2 after:transform after:-translate-y-1/2 after:rotate-[135deg];
  }

  .accordion-content {
    @apply max-h-0 overflow-hidden transition-all duration-300;
  }

  .accordion-item.open .accordion-content {
    @apply max-h-full;
  }

  .accordion-item.open .accordion-header {
    @apply after:transform after:-translate-y-1/2 after:rotate-[315deg];
  }
}

@layer utilities {
}
.slider-track{
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}
.slide{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 9));
  }
}

.slider-box::before{
  left: 0;
  top: 0;
}
.slider-box::after{
  right: 0;
  top: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 9));
  }
}
.slider-box::before {
  left: 0;
  top: 0;
}

.slider-box::after {
  right: 0;
  top: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 9));
  }
}
.slider-box:hover .slider-track {
  animation-play-state: paused;
  
}
.slider-box{
  position: relative;
}
.slider-box::before,
.slider-box::before{
  background: linear-gradient(to right, rgba(255, 255, 255, 1)0%, rgba(255,255,255,0)100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider-box::before {
  left: 0;
  top: 0;
}

.slider-box::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}






